# Backend
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Asia/Novosibirsk
DJANGO_SQLITE_NAME=

# Frontend
VITE_API_BASE_URL=
VITE_YANDEX_MAPS_API_KEY=

# Optional source override
T_TRAVEL_DATA_DIR=
