# Backend
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=Asia/Novosibirsk
DJANGO_SQLITE_NAME=
DATABASE_URL=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=300
POSTGRES_CONN_HEALTH_CHECKS=1
POSTGRES_APPLICATION_NAME=t-travel
POSTGRES_SSLMODE=
POSTGRES_OPTIONS=

# Frontend
VITE_API_BASE_URL=
VITE_YANDEX_MAPS_API_KEY=

# Optional source override
T_TRAVEL_DATA_DIR=
